QWidget#ControlApp {
    background-image: url(:/resources/living_room.jpg);
}
QWidget#ControlStartUpScreen {
    background-color: red;
}
QPushButton {
border-style: outset;
background-color: #a49480;
border-radius: 10px;
border-color: #443028;
border-width: 2px;
}
